    #my-info{
        background: url("../image/bgc3_01.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        opacity: 0.9;
        min-height: 500px;
    }
    #my-book{
        background: url("../image/bgc4_02_02_02.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        min-height: 500px;
    }
    @keyframes giticonchange
    {
        0%{ transform:rotate(0));
           -webkit-transform:rotate(0));}
        40%{transform:rotate(360deg);
            -webkit-transform:rotate(360deg);}
        79%{transform:scale(0.5,0.5);
            -webkit-transform:scale(0.5,0.5);}
        85%{transform:scale(1.3,1.3);
            -webkit-transform:scale(1.3,1.3);}
        90%{transform:scale(0.8,0.8);
            -webkit-transform:scale(0.8,0.8);}
        94%{transform:scale(1.2,1.2);
            -webkit- transform:scale(1.2,1.2);}
        97%{transform:scale(0.9,0.9);
            -webkit- transform:scale(0.9,0.9);}
        99%{transform:scale(1.1,1.1);
            -webkit- transform:scale(1.1,1.1);}
        100%{transform:scale(1.0,1.0);
            -webkit-transform:scale(1.0,1.0);}
        }
   @-webkit-keyframes giticonchange
    {
        0%{transform:rotate(0));
           -webkit-transform:rotate(0));}
        40%{transform:rotate(360deg);
            -webkit-transform:rotate(360deg);}
        79%{transform:scale(0.5,0.5);
            -webkit-transform:scale(0.5,0.5);}
        85%{transform:scale(1.3,1.3);
            -webkit-transform:scale(1.3,1.3);}
        90%{transform:scale(0.8,0.8);
            -webkit-transform:scale(0.8,0.8);}
        94%{transform:scale(1.2,1.2);
            -webkit- transform:scale(1.2,1.2);}
        97%{transform:scale(0.9,0.9);
            -webkit- transform:scale(0.9,0.9);}
        99%{transform:scale(1.1,1.1);
            -webkit- transform:scale(1.1,1.1);}
        100%{transform:scale(1.0,1.0);
            -webkit-transform:scale(1.0,1.0);}
    }